table{
    margin-top:50px;
    padding:10px;
    border: grey solid 1px;
  }

  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f5f9fc;
  }
  
  td{
    padding:10px;
    align-self: center;
    border:solid grey .5px;
    text-align: center;
    font-size: large;
  }
  
  .review_panel{
    display: flex;
    flex-direction: column;
    border: solid grey;
    position: relative;
    height:7cm;
    width:6cm;
    overflow-y: scroll;
    padding:.3cm;
    padding-top: 0%;
    border-radius:10px; 
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.5);
    margin-bottom: .5cm;
    justify-content: space-between;
  }

  .postreview{
    margin:20px;
    padding:10px;
    font-size: larger;
  }

  th{
    padding:5px;
    align-self: center;
    text-align: center;
    font-size: large;
    margin-bottom: 1cm;
    vertical-align: middle;
    color: black;
  }

  .reviews_panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1cm;
    overflow-wrap: normal;
    margin-top: 1cm;
    align-items: flex-start;
  }

  .reviewer {
    margin: 10px; /* Optional margin for spacing */
    font-style: italic;
    color: gray;
    font-size: small;
}

.review {
  margin-top: 1.5cm;
}

.text-td{
    text-decoration: none;
}

.emotion_icon {
  align-self: center;
  position:fixed;
    width:40px;
    height:40px;
    background-color:#0C9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;  
}

.review_icon {
  width:40px;
}

.review_icon:hover {
  transform: scale(1.1);
  border: solid lightgray;
}

.container {
    display: block;
    text-align: center;
    text-decoration: none;
}

.table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
.table td:before {
    display: none;
}

/* Pagination. */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    flex-wrap: wrap;
  }
  
  .page-numbers {
    margin: 1em 1em 0;
  }
  
  .page-number {
    padding: 0.5em;
    opacity: 0.5;
    cursor: pointer;
  }
  
  .active {
    opacity: 1;
  }
  
  @media screen and (min-width: 240px) {
    .backward {
      order: 1;
    }
  
    .page-numbers {
      order: 2;
      margin-top: 0;
    }
    
    .forward {
      order: 3;
    }
  }
